.about-button {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
    margin-left: 1450px;
    margin-bottom: 5px;
    margin-top: -5px;
    width: 120px;
    height: 2.5rem;
}
